/* src/styles/header.css */
.new-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.5rem;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  font-family: 'Segoe UI', sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer; /* Indica que o logo é clicável */
}

.logo-icon {
  width: 100px;
  height: 100px;
}

.category-search {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
  margin: 0 2rem;
}

.category-dropdown {
  position: relative;
  margin-right: 20px;
}

.category-button {
  background-color: #09a2cc;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 5px;
  list-style: none;
  padding: 10px;
  width: 200px; /* Aumentado para acomodar mais conteúdo */
  z-index: 999;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 8px;
}

.dropdown-item label {
  margin-left: 8px;
  cursor: pointer;
  color: #000519;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.dropdown-heading {
  font-size: 0.9rem;
  font-weight: bold;
  color: #4a5568;
  padding: 8px 8px 4px;
  margin: 0;
  text-transform: uppercase;
}

.dropdown-divider {
  border: none;
  border-top: 1px solid #e2e8f0;
  margin: 8px 0;
}

.dropdown-scrollable-list {
  max-height: 200px; /* Altura máxima para a lista de géneros */
  overflow-y: auto; /* Adiciona scroll se a lista for longa */
}


.search-bar {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 0.3rem 1rem;
  width: 100%;
  max-width: 400px;
}

.search-bar input {
  border: none;
  background: none;
  outline: none;
  margin-left: 0.5rem;
  flex: 1;
  font-size: 1rem;
  color: #000519;
}

.search-icon {
  color: #888;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.cart {
  position: relative;
  font-size: 1.2rem;
  color: #000519;
  display: flex;
  align-items: center;
}

.cart-count {
  font-size: 0.9rem;
  margin-left: 0.3rem;
}

.login-btn, .logout-btn {
  background-color: #09a2cc;
  color: white;
  padding: 0.45rem 1rem;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.logout-btn {
  background-color: #e53e3e;
}

.user-actions {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #000519;
  font-weight: 500;
}

.user-icon {
  font-size: 1.5rem;
  color: #000519;
}

.admin-link {
  text-decoration: none;
  color: #09a2cc;
  font-weight: 700;
  padding: 0.45rem 0;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s;
}

.admin-link:hover {
  border-color: #09a2cc;
  text-decoration: none;
}